<!-- ******FOOTER****** -->

<footer class="footer footer-aristotle">
    <div class="container py-5 mb-3">
        <div class="row">
            <div class="footer-col col-12 col-md-6 col-lg-5 mb-3">
                <h4>
                    <a href="/"><img class="logo-icon mb-2" src="/aristotle/images/brand/aristotle.png" alt="Return to the Aristotle Metadata home page"></a>
                </h4>
                <div>
                    <p>
                    <strong><a href="/about/">About us:</a></strong> 
                    We deliver high-quality, accessible metadata solutions to
                    help our clients maximise the value of their data.
                    </p>
                    <p>Aristotle Metadata: <i>Make data make sense!</i></p>
                </div>
                <ul class="social-list list-unstyled pt-4 mb-0">
                    <li class="list-inline-item"><a title="Connect with Aristotle Metadata on LinkedIn" href="https://www.linkedin.com/company/aristotle-metadata-registry"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a title="Follow out open-source projects on GitHub" href="https://github.com/Aristotle-Metadata-Enterprises/"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a title="Watch our training and promotional videos on YouTube" href="https://www.youtube.com/channel/UCTieexXDEfaINcE3OBi6hQw"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a title="Connect with Aristotle Metadata on Facebook" href="https://www.facebook.com/AristotleMDR/"><i class="fab fa-facebook-square"></i></a></li>
                </ul><!--//social-list-->
            </div><!--//footer-col-->
            
            <div class="footer-col col-12 col-md-6  col-lg-7 mb-lg-3">
                <div class="row">
                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading"><a href="/products/">Products</a></h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="/products/aristotle-metadata-registry">Registry</a></li>
                            <li><a href="/products/aristotle-cloud-hosting">Cloud</a></li>
                            <!-- <li><a href="/products/aristotle-dot-cloud">Cloud</a></li> -->
                            <li><a href="https://aristotle.cloud">Aristotle.Cloud</a></li>
                            <li><a href="/contact/demo">Request a demo</a></li>
                        </ul>
                    </div><!--//footer-col-->
                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading">Resources</h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="/case-studies/">Customer Stories</a></li>
                            <li><a href="/comparisons/">Comparisons</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </div><!--//footer-col-->
                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading">About</h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="/about/">About us</a></li>
                            <li><a href="/legal/">Legal</a></li>
                            {% comment %}
                            <li><a href="/metadata/">Metadata</a></li>
                            <li><a href="/about/culture">Our Team</a></li>
                            {% endcomment %}
                            <li><a href="/about/careers">Careers</a></li>
                        </ul>
                    </div><!--//footer-col-->
                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading">Services</h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="/services/">Consulting</a></li>
                            <li><a href="/services/#training/">Training</a></li>
                        </ul>
                    </div><!--//footer-col-->
                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading">Support</h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://desk.zoho.com.au/portal/aristotlecloudservicesaustralia/en/home/"> Help</small></a></li>
                            <li><a href="https://aristotle.cloud/steward/acsa-user-guides/references/folder/5">User guides & Demos</a></li>
                            <li><a href="https://community.aristotlemetadata.com"> Community</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                        </ul>
                    </div><!--//footer-col-->

                    <div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
                        <h4 class="col-heading">Labs <i class="fad fa-fw fa-flask"></i></h4>
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://labs.aristotlemetadata.com">Metadata Labs</a></li>
                            {% comment %}
                            <li><a href="/engineering/open-source">Open-source</a></li>
                            <li><a href="/engineering/blog/">Engineering</a></li>
                            {% endcomment %}
                        </ul>
                    </div><!--//footer-col-->
                </div><!--//row-->
            </div><!--//footer-col-->
        </div><!--//row-->
        <div class="footer-bottom">
            <div class="row">
                <div class="copyright col-12 col-md-6">
                    Copyright &copy; 2021 <a href="http://www.aristotlemetadata.com/" target="_blank">Aristotle Metadata</a>
                    <br>
                    Template &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a>
                </div>
                <div class="legal col-12 col-md-6 text-md-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="/legal/privacy-policy">Privacy</a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a href="/legal/subprocessors-and-cookies">Cookies</a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a href="/legal/terms-of-service">Terms of Service</a></li>
                    </ul>
                </div>
            </div><!--//row-->
        </div>
    </div><!--//container-->
</footer>
