<!DOCTYPE html>
<html class="h-100" lang="en" prefix="og: http://ogp.me/ns#"> 
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M8L5Z8R');</script>
    <!-- End Google Tag Manager -->
  
  <title>{{ page.title | strip_html}} - Aristotle Metadata</title>
  {% if page.og.title %}
	  <meta property="og:title" content="{{ page.og.title | strip_html}} - Aristotle Metadata" />
  {% else %}
	  <meta property="og:title" content="{{ page.title | strip_html}} - Aristotle Metadata" />
  {% endif %}
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  {% if layout.is_blog %}
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | truncatewords:50}}">
    <meta property="og:image" content="{{ page.img | default: '/aristotle/aristotle_logo_256.png' }}" />
    <meta property="og:image" content="{{ page.og.image.width | default: '128px' }}" />
    <meta property="og:image" content="{{ page.og.image.height | default: '128px' }}" />
    <meta property="og:author" content="{{ site.authors[page.author].display_name }}" />
  {% else %}
    <meta property="og:type" content="{{ page.og.type | default: 'website'}}" />
    <meta property="og:description" content="{{ page.og.description | default: 'Make your data make sense using the Aristotle Metadata Registry' }}">
    <meta property="og:image" content="{{ page.og.image.url | default: '/aristotle/aristotle_logo_256.png' }}" />
    <meta property="og:image" content="{{ page.og.image.width | default: '32px' }}" />
    <meta property="og:image" content="{{ page.og.image.height | default: '32px' }}" />
  {% endif %}
  
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
	
  <!-- FontAwesome JS-->
  {% comment %}
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
  {% endcomment %}
  <script src="https://kit.fontawesome.com/7c78701591.js" crossorigin="anonymous"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="/assets/plugins/tiny-slider/tiny-slider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dripicons/2.0.0/webfont.min.css" integrity="sha512-pi7KSLdGMxSE62WWJ62B1R5/H7WNnIsj2f51MikplRt31K0uCZ1lfPSw/0Jb1flSz6Ed2YLSlox6Uulf7CaFiA==" crossorigin="anonymous" />
	<!-- Theme CSS -->  
	<!-- <link id="theme-style" rel="stylesheet" href="/assets/css/theme.css"> -->
	<link id="theme-style" rel="stylesheet" href="/aristotle/theme/theme.css">
  <link id="theme-style" rel="stylesheet" href="/aristotle/css/overrides.css">
  <link id="theme-style" rel="stylesheet" href="/aristotle/css/utility.css">
  <link id="theme-style" rel="stylesheet" href="/aristotle/css/curves.css">


  <!-- Theme CSS -->

  <!-- Unsure if these are needed   -->
  <!-- <link id="theme-style" rel="stylesheet" href="/assets/css/aristotle.css">
  <link id="theme-style" rel="stylesheet" href="/aristotle/css/styles.css"> -->
  {{ page.head_scripts }}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.aristotlemetadata.com",
    "name": "Aristotle Metadata",
    "logo": "http://www.aristotlemetadata.com/aristotle/aristotle.png",
    "email": "hello@aristotlemetadata.com",
    "sameAs": [
      "https://www.linkedin.com/company/aristotle-metadata-registry/",
      "https://twitter.com/aristotlemdr",
      "http://www.youtube.com/c/Aristotlemetadata",
      "https://en.wikipedia.org/wiki/Aristotle_Metadata_Registry",
      "https://github.com/aristotle-mdr/aristotle-metadata-registry"
    ]
  }
  </script>
</head>
