<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'ZB9I154E6R',
    apiKey: 'd6c941e7e6051e64a719c43b02e2e076',
    siteId: '23b0d133-9af1-4a51-a0ca-93566d1f2d55',
    branch: 'master',
    selector: 'div#search',
  });
</script>

<div id="search"></div>