<div class="row">
    <div class="col-12 col-lg-12">
        <div class="item p-4">
            <h4 class="faq-q mb-3">
                <a id="included"></a>
                <span class="faq-icon icon dripicons-question mr-2"></span>What is Aristotle Standard Cloud?
            </h4>
            <div class="faq-a">
                <p>Aristotle Standard Cloud is our base commercially supported solution
                    for hosting the Aristotle Metadata Registry.
                    Application isolation across an amortised platform, means
                    Aristotle Standard Cloud is a safe and cost-effective software-as-a-service platform for 
                    metadata management.
                </p>
                <p>Aristotle Standard Cloud uses application isolation to ensure that all client information is securely stored
                    and is isolated from other client data in the unlikely event of service disruption.</p>
                <p>To make sure users have an optimum experience, we include Standard Hosting for free with all subscriptions to the Aristotle Metadata Registry.
                    For information about <a href="/products/aristotle-metadata-registry">user licencing and subscription fees see the Aristotle Metadata Registry product page.</a>
                </p>
                <p><strong>Where clients have more strict organisational information security requirements, we provide 
                    Aristotle Secure Cloud and Aristotle Protected Cloud. These products include additional layers of
                    network and infrastructure isolation to provide further guarantees of client data protection.
                </strong></p>
            </div>
        </div><!--//item-inner-->
    </div><!--//col-12-->
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="item p-4">
            <h4 class="faq-q mb-3"><span class="faq-icon icon dripicons-question mr-2"></span>Are there setup costs?</h4>
            <div class="faq-a">
                <p>
                    <b>No</b> — there aren't any extra costs associated with setting up your cloud metadata registry. Once you choose your
                    configuration we can have your Aristotle Metadata Registry ready to go almost instantly.
                </p><p>
                    If you have large volumes of metadata to migrate or have special design requirements,
                    we can discuss <a href="/services">consulting options</a> to provide you with the services you need.
                </p>
            </div>
        </div><!--//item-inner-->
    </div><!--//col-12-->
    <div class="col-12 col-lg-6">
        <div class="item p-4">
            <h4 class="faq-q mb-3"><span class="faq-icon icon dripicons-question mr-2"></span>Can I use my own domain with Aristotle Secure/Protected Cloud?</h4>
            <div class="faq-a">
                <p>
                    <b>Yes</b> — as long as you have the domain registered, we can point your registry to any domain you need.
                        If you are looking to host on a .gov domain (or .gov.uk, .gov.au, etc...) you'll need to register that through your government domain provider.
                </p><p>For all other publicly accessible domains (.com, .co.uk, etc...) we can help manage domain registration on your behalf.
                </p><p>Once you have a domain, we can setup DNS records to point your Aristotle Metadata Registry in the right direction.
                </p>
            </div>
        </div><!--//item-inner-->
    </div><!--//col-12-->
    <div class="col-12 col-lg-6">
        <div class="item p-4">
            <h4 class="faq-q mb-3"><span class="faq-icon icon dripicons-question mr-2"></span>
                Is Aristotle Secure/Protected Cloud suitable for government agencies?</h4>
            <div class="faq-a">
                <p>
                    <b>Yes</b> — our Aristotle Secure and Protected Cloud options have been independently assessed by government
                    IT departments. We provide services to Australian federal government agencies that store 
                    <a href="https://www.cyber.gov.au/acsc/view-all-content/ism">ISM PROTECTED-rated</a> content.
                </p><p>We understand that different countries and different government departments have unique requirements,
                    and our team has the expertise to work with you to select the best product and can provide all
                    documentation to assist with any security assessments or authorisations required.
                </p>
            </div>
        </div><!--//item-inner-->
    </div><!--//col-12-->
    <div class="col-12 col-lg-6">
        <div class="item p-4">
            <h4 class="faq-q mb-3"><span class="faq-icon icon dripicons-question mr-2"></span>Where is my Aristotle Metadata Registry hosted?</h4>
            <div class="faq-a">
                <p><b>For clients hosted on Aristotle Secure or Protected Cloud</b> we host
                    <a href="https://aws.amazon.com/about-aws/global-infrastructure/">in the more than 20 regions currently supported by Amazon Web Services</a>,
                    including various countries across the United Kingdom, Europe, North America and the Asia-Pacific.
                </p>
                <p>
                    <b>For clients on Aristole Standard Cloud</b>, we have 2 hosting regions available — Australia and the USA.
                    In 2021, we will be expanding our Standard Cloud regions to deliver an EU-based region to support
                    European data requirements.
                </p>
            </div>
        </div><!--//item-inner-->
    </div><!--//col-12-->
</div><!--//row-->
