---
layout: raw
title: Blog

pagination:
    enabled: true

---

<div class="hero-wrapper">

    {% if paginator.page == 1 %}
    <section class="blog-header page-header py-3 py-md-5 over-curve">
        {% include curve.html top="lighter cover green" bottom="gray" %}
        <div class="container">	 
            <h1 class="page-headline text-center mb-5">Aris<u>blog</u>le</h1>
            <div class="page-tagline mb-4 text-center">
                Recent news and media about Aristotle Metadata.
            </div>
            <div class="featured-blog-posts">
                <div class="slider-container text-center">
                    <div class="featured-slider tiny-slider">
                        {% assign featured = site.posts | where_exp:"p", "p.img" %}
                        {% for post in featured limit: 4 %}
                        <div class="item">
                            <a class="item-link d-block" href="{{ post.url }}">
                                <div class="row">
                                    <div class="col-12 col-lg-6 order-lg-1">
                                        <div class="figure-holder figure-holder" style="background-image:url({{post.img}})">
                                        </div><!--//figure-holder-->
                                    </div><!--//col-12-->
                                    <div class="col-12 col-lg-6 order-lg-0">
                                        <div class="content-box p-5 text-left">
                                            <div class="post-type mb-2">
                                                <span class="font-weight-bold text-primary">{% include categorise.txt post=post %}</span>
                                                <span class="px-2">|</span><span>
                                                    {% include wpm.txt words=post.content %}
                                                </span>
                                            </div><!--//post-type-->
                                            <h4 class="post-title mb-3">{{ post.title }}</h4>
                                            <div class="post-excerpt mb-3">
                                                {{ post.content | strip_html | truncatewords:50}}
                                            </div>
                                            <div class="post-author">
                                                <div class="row">
                                                    <div class="col-12 col-lg-2">
                                                        <div class="profile mb-3">
                                                            {{ site.authors[page.author].headshot }}
                                                            <img class="profile-image img-fluid" src="{{ site.authors[post.author].headshot }}" alt="">
                                                        </div>
                                                    </div><!--col-12-->
                                                    <div class="col-12 col-lg-10 pt-1">
                                                        <div class="name font-weight-bold">{{ site.authors[post.author].display_name }}</div>
                                                        <div class="meta">{{ site.authors[post.author].position }}</div>
                                                    </div><!--//col-12-->
                                                </div><!--//row-->
                                            </div><!--//post-author-->
                                        </div><!--//content-box-->
                                    </div><!--//col-->
                                </div><!--//row-->
                            </a><!--//item-link-->
                        </div><!--//item-->
                        {% endfor %}
    
                    </div><!--//featured-slider-->
                    <div class="slider-custom-controls d-none d-md-block">
                        <div class="prev" data-controls="prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="next" data-controls="next">
                            <i class="fas fa-chevron-right"></i>         
                        </div>
                    </div><!--//slider-custom-controls-->
                </div><!--slider-container-->
            </div><!--//featured-blog-posts-->
        </div><!--//container-->
    </section><!--//blog-header-->
    {% endif %}

</div><!--//hero-wrapper-->

<div class="search-form-section text-center pt-5">
<div class="container">
    <div class="search-form-wrapper mx-auto d-inline-block">
        <form class="form-inline search-form" action="#" method="get">
            <input type="text" placeholder="Search blog post" name="search" class="form-control search-input mr-2">
            <button type="submit" class="btn btn-gradient" value="Search"><i class="fa fa-search"></i></button>
        </form><!--//search-form-->   
    </div><!--//mx-auto-->
</div><!--//container-->
</div><!--//search-form-wrapper-->


<section class="blog-list-section py-5">
<div class="container">
    <div class="row">
        {% for post in paginator.posts %}
            {% include blog_card.html post=post %}
        {% endfor %}
    </div><!--//row-->

    {% if paginator.page_trail %}
        <nav class="pagination-container text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for trail in paginator.page_trail %}
                    {% if page.url == trail.path %}
                    <li class="page-item active" aria-current="page">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
  
</div><!--//container-->
</section><!--//blog-list-section-->
