
    <section class="faq-section py-5 theme-bg-light position-relative">
        <div class="curve-container">
            <div class="curve-top"></div>
            <div class="curve-bottom"></div>
        </div><!--//curve-container-->
        <div class="container py-5  over-curve">
            <h2 class="section-title text-center mb-5">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="item p-4">
                        <h4 class="faq-q mb-3" id="security">
                            <span class="faq-icon icon dripicons-question mr-2"></span>Can I configure my registry to include single-sign on or secure hosting?
                        </h4>
                        <div class="faq-a">
                            <p>We include Aristotle Standard Cloud hosting with all Aristotle metadata Registry licencing plans.
                                Aristotle Standard Cloud uses secure, application isolatation to provide a safe and cost-effective software-as-a-service platform for 
                                metadata management.
                            </p>
                            <p>Where clients have more strict organisational information security requirements, such as enterprise single-sign on,
                                we provide the Aristotle Secure Cloud and Aristotle Protected Cloud. These products include additional layers of
                                network and infrastructure isolation to provide further guarantees of client data protection.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//col-12-->
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="item p-4">
                        <h4 class="faq-q mb-3" id="roadmap">
                            <span class="faq-icon icon dripicons-question mr-2"></span>What is the Aristotle Metadata Roadmap?</h4>
                        <div class="faq-a">
                            <p>
                                Each year, in collaboration with our clients we coordinate the development of the Aristotle Metadata Roadmap that lays out 
                                features and improvements users can expect to the platform each year.
                                This process helps to gather and prioritise feedback, and ensures that the Aristotle Metadata Registry remains a leading, user-friendly metadata registry.
                            </p><p>
                                All users have the ability to provide feedback through our community, or through their registry administrators.
                                Once feedback has been gathered, we develop and circulate draft roadmaps to our clients, and invite clients to nominate representatives to
                                participate and endorse our annual product roadmap.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//col-12-->
                <div class="col-12 col-lg-6">
                    <div class="item p-4">
                        <h4 class="faq-q mb-3" id="roadmap">
                            <span class="faq-icon icon dripicons-question mr-2"></span>Once I hit the limit of teams or users for my plan, can I get more?</h4>
                        <div class="faq-a">
                            <p>
                                <strong>Yes</strong> - Each plan includes a number of user licences, and to limit disruption we won't prevent your users from signing up.
                                If we detect that you are getting close to exceeding
                                your included licences, we will contact you to dicuss way to help manage your registry.
                                Options can include up-front purchasing of additional user licences, monthly invoicing or adding a hard limit.
                            </p>
                            <p>
                                Only active users or teams count against your limits so you can always deactivate users who no longer use the system,
                                or archive teams to increase capacity.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//col-12-->
                <div class="col-12 col-lg-6">
                    <div class="item p-4">
                        <h4 class="faq-q mb-3" id="organisations">
                            <span class="faq-icon icon dripicons-question mr-2"></span>What is a Stewardship Organisation?</h4>
                        <div class="faq-a">
                            <p>
                                <strong>A Stewardship Organisation</strong> is a group responsible for the creation and governance data and metadata.
                                It could be a whole company, a business unit, committee or or data council. Each Stewardship Organisation can define
                                its own governance roles and teams to delegate responsibility and help with the development of 
                            </p>
                            <p>
                                In the Aristotle Metadata Registry, we use Stewardship Organisations to allow our clients capture of the related governance
                                groups within their organisation. This allows our users to capture multiple separate business silos within a single registry,
                                or even build <em>multi-tenancy</em> metadata solutions that can be shared among related organisations.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//col-12-->
                <div class="col-12 col-lg-6">
                    <div class="item p-4">
                        <h4 class="faq-q mb-3"><span class="faq-icon icon dripicons-question mr-2"></span>Are there setup costs?</h4>
                        <div class="faq-a">
                            <p>
                                <b>No</b> — your subscription to the Aristotle Metadata Registry includes scalable, stable & secure hosting in
                                your Standard hosting environments. If you have additional security requirements, <a href="/products/aristotle-cloud-hosting">we do offer enhanced
                                Aristotle Secure Cloud and Aristotle Protected Cloud</a> options. Once you choose your
                                configuration we can have your Aristotle Metadata Registry ready to go almost instantly.
                            </p><p>
                                If you have large volumes of metadata to migrate or have special design requirements,
                                we can discuss <a href="/services">consulting options</a> to provide you with the services you need.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//col-12-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//faq-section-->