<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">About Us</h3>
                        <ul class="list-unstyled">
                            <li><a href="/about.html"><i class="fa fa-caret-right"></i>Who we are</a></li>
                            <li><a href="/blog/"><i class="fa fa-caret-right"></i>Blog</a></li>
                            <!-- li><a href="#"><i class="fa fa-caret-right"></i>Jobs</a></li -->
                            <li><a href="/contact.html"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            <li><a href="/case_studies"><i class="fa fa-caret-right"></i>Case studies</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Features</h3>
                        <ul class="list-unstyled">
                            <li><a href="/features.html"><i class="fa fa-caret-right"></i>Features</a></li>
                            <li><a href="/enterprise.html"><i class="fa fa-caret-right"></i>Enterprise</a></li>
                            <li><a href="/cloud.html"><i class="fa fa-caret-right"></i>Cloud</a></li>
                            <li><a href="http://registry.aristotlemetadata.com"><i class="fa fa-caret-right"></i>Open Registry</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                    <div class="footer-col-inner">
                        <h3 class="title">Support</h3>
                        <ul class="list-unstyled">
                            <!-- li><a href="#"><i class="fa fa-caret-right"></i>Help</a></li -->
                            <li><a href="/consulting"><i class="fa fa-caret-right"></i>Consulting</a></li>
                            <li><a href="http://docs.aristotlemetadata.com"><i class="fa fa-caret-right"></i>Documentation</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLBVCDZHCxQETFyJsPTOpGNauPpss7WNjC"><i class="fa fa-caret-right"></i>5 Minute Metadata</a></li>
                            <!-- li><a href="#"><i class="fa fa-caret-right"></i>Privacy</a></li -->
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col connect contact col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">
                        <ul class="social list-inline">
                            <li><a href="https://twitter.com/aristotlemdr" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <!-- li><a href="#"><i class="fa fa-facebook"></i></a></li -->
                            <li><a href="https://www.linkedin.com/company/aristotle-metadata-registry"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/aristotle-mdr/aristotle-metadata-registry"><i class="fa fa-github"></i></a></li>
                            <li><a title="Watch our videos on YouTube" href="https://www.youtube.com/channel/UCTieexXDEfaINcE3OBi6hQw"><i class="fa fa-youtube-play"></i></a></li>
                            <!-- li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li -->
                        </ul>
                        <p class="adr clearfix">
                            <i class="fa fa-map-marker pull-left"></i>
                            <span class="adr-group pull-left">
                                <!-- span class="street-address">College Green</span><br-->
                                <span class="region">Canberra, Australia</span><br>
                                <!-- span class="postal-code">2617</span><br>
                                <span class="country-name">Australia</span -->
                            </span>
                        </p>
                        <!-- p class="tel"><i class="fa fa-phone"></i>0800 123 4567</p -->
                        <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:enquiries@aristotlemetadata.com">enquiries@aristotlemetadata.com</a></p>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="clearfix"></div>
            </div><!--//row-->

        </div><!--//container-->
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright @ 2016 <a href="http://www.aristotlemetadata.com/" target="_blank">Aristotle Metadata Registry</a></small>
            <small class="copyright"> | <a href="http://themes.3rdwavemedia.com/" target="_blank">Theme by 3rd Wave Media</a></small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
