---
layout: basic
title: Careers

heading: Careers at Aristotle Metadata 
byline: |
    Join a vibrant company that is improving society through evidence-based decision making,
    reducing the cost of data quality management, and democratising data knowledge.

curve:
    top: cover lighter green
    bottom: cover gray

positions:
    -
        title: Full-stack developer
        body: |
            You will work in our team building new features in our Django-based content management system
            that will be used by hundreds of users across a range of government and professional sectors.
            You will build new user interfaces based on client feedback and work with our team to test and deploy these on a rotuine basis.
        requirements:
            - Experience with frontend web-development using JavaScript
            - Experience with backend web-development
            - Proficient working with CSS, HTML, web development
            - Permission to work in Australia
        useful_skills:
            - A relevant Certificate, tertiary qualification (such as Computer Science or Software Engineering), or equivalent experience.
            - Experience with modern Javascript libraries such as Vue.js, NodeJS, or Vis.js
            - Experience with backend web-development using Python with frameworks such as Django or Flask
            - Experience with Docker and knowledge of modern container architecture
    -
        title: Migration and Integration developer
        body: |
            You will work in our team building and maintaining custom code to help clients integrate
            their software with the Aristotle Metadata Registry APIs. Your code will read from and write to a
            variety of formats, including other RESTful APIS, JSON document stores, XML files, MS Office formats
            and plain text records.
        requirements:
            - Experience with querying GraphQL and RESTful API using scripting languages
            - Experience using scripting languages to perform database queries and transformations
            - Experience with backend web-development
            - Permission to work in Australia
        useful_skills:
            - A relevant Certificate, tertiary qualification (such as Computer Science or Software Engineering), or equivalent experience.
            - Experience with XML and related techologies
            - Experience with Docker and knowledge of modern container architecture
            - Experience deploying to serverless or Function-as-a-Service environments such as AWS Lambda
            - Experience with backend web-development using Python with frameworks such as Django or Flask

    -
        hide: true
        title: Metadata analyst
        body: |
            You will work in our team, consulting with clients helping them
            that will be used by hundreds of users across a range of government and professional sectors.
            You will build new user interfaces based on client feedback and work with our team to test and deploy these on a rotuine basis.
        requirements:
            - Experience with data management
            - Able to read and write English to a professional level
            - Proficient working with office software such as Word, Excel
            - Permission to work in Australia
        useful_skills:
            - A relevant Certificate, tertiary qualification (such as Psychology, Statistics or English), or equivalent experience.
            - Experience with ISO 11179, DAMA or other related data manegement standards
---
    <div class="row">
        <div class="col-8 mx-auto">
                <p>
                    Aristotle Cloud Services Australia is the company behind the Aristotle Metadata Registry,
                    a platform that helps government and academic institutes provide positive outcomes for
                    people through improved data management systems.
                    </p>
                    <p>
                    We currently work with a growing number of government agencies and businesses in Australia
                    and growing our team so we can serve more customers both here in Australia and 
                    around the world.
                </p>
                <strong>And we'd be excited to have you join us!</strong>
        </div>
    </div><!--//row -->

    <hr class="my-5">
    <div class="h4 text-center">Benefits of working with Aristotle Metadata</div>
    <div class="col-md-8 mx-auto">
        <ul>
            <li> Competitive packages based on the work you do here and not your previous salary
            <li> Opportunity to define your role and responsibilities as the company grows
            <li> Company supplied laptop to support flexible working arrangements
            <li> Opportunities and encouragement to attend conferences, training and networking events
        </ul>
    </div>

    <hr class="my-5">
    <div class="my-3 h4 text-center">Current positions with Aristotle Metadata!</div>

    <div class="row">
        {% assign open_positions = page.positions | where_exp:"p", "p.hide != true" %}
        {% for position in open_positions  %}
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ position.title }}</h5>
                        <p class="card-text">
                            <strong>Role:</strong>
                            {{ position.body }}                            
                            <div>To be successful you will need:</div>
                            <ul>
                                {% for req in position.requirements %}
                                <li>{{ req }}</li>
                                {% endfor %}
                            </ul>                                
                            <div>It would be useful if you had:</div>
                            <ul>
                                {% for req in position.useful_skills %}
                                <li>{{ req }}</li>
                                {% endfor %}
                            </ul>           
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr class="my-5">

    <h3 class="mt-5 text-center">Interested in working with us?</h3>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form id="contact-form" class="contact-form" method="post" action="https://getsimpleform.com/messages?form_api_token=8912b0e723f1761a207116e5a4fea5f6">
                        <div class="row">
                            <p>
                                If you're interested in working with us, fill out your details below and
                                we'll get in contact so we can start building awesome stuff together!
                            </p>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="cname">Your name</label>
                                <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="cemail">Email address</label>
                                <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="sr-only" for="cmessage">Your message</label>
                                <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="12" required></textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <button type="submit" class="btn btn-block btn-gradient">Send Message</button>
                            </div>
                            <input type='hidden' name='redirect_to' value='http://www.aristotlemetadata.com/contact/thanks.html' />
                        </div><!--//row-->
            </form><!--//contact-form-->
        </div>
    </div>
