---
title: Blog
body_class: blog-page
head_scripts: >
    <link id="theme-style" rel="stylesheet" href="/aristotle/css/blog.css">
---
{% include html_head.html %}

<body class="blog-page">
    <div class="wrapper">
        {% include blog_header.html %}
        
        <section class="featured-blog-posts section">       
       
            <div class="flexslider blog-slider">
                <ul class="slides">
                    {% for post in site.posts limit:5 %}
                    {% if post.img %}

                    <li class="slide"  style="background-image:url({{post.img}})">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">{{ post.title }}</a></h3>
                            <div class="meta">
                            	{% assign d = post.date | date: "%-d"  %}
                                {{ post.date | date: "%B" }} 
                                {% case d %}
                                  {% when '1' or '21' or '31' %}{{ d }}st
                                  {% when '2' or '22' %}{{ d }}nd
                                  {% when '3' or '23' %}{{ d }}rd
                                  {% else %}{{ d }}th
                                  {% endcase %}, 
                        	    {{ post.date| date: '%Y'  }}
                            </div>
                            <a class="more-link" href="{{ post.url }}">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul><!--//slides-->
            </div><!--//flexslider-->
                    
        </section><!--//featured-blog-posts-->
        
        <!-- ******BLOG LIST****** --> 
        <div class="blog container">
            <div class="row">
                <div id="blog-mansonry" class="blog-list">
                  {% for post in site.posts %}
                    {% if post.releases_only %}{% else %}

                    <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <div class="post-inner">
                            {% if post.thumbnail %}
                            <figure class="post-thumb">
                                <a href="{{ post.url }}"><img class="img-responsive" src="{{ post.thumbnail }}" alt="" /></a>                                
                            </figure><!--//post-thumb-->
                            {% endif %}
                            <div class="content">
                                <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                <div class="post-entry">
                                    <p>{{ post.content | strip_html | truncatewords:50}}</p>
                                    <a class="read-more" href="{{ post.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">                                       
                                    	<li class="post-time post_date date updated">
                                    	{% assign d = post.date | date: "%-d"  %}
                                        {{ post.date | date: "%B" }} 
                                        {% case d %}
                                          {% when '1' or '21' or '31' %}{{ d }}st
                                          {% when '2' or '22' %}{{ d }}nd
                                          {% when '3' or '23' %}{{ d }}rd
                                          {% else %}{{ d }}th
                                          {% endcase %}, 
                                	    {{ post.date| date: '%Y'  }}
                                        </li>
                                        
                                    	<li class="post-author"> by <a href="#">{{ site.authors[post.author].display_name }}</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="{{ post.url }}#comment-area"><i class="fa fa-comments"></i></a>
                                	    </li>
                                	</ul><!--//meta-list-->                           	
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->
                    {% endif %}
                  {% endfor %}


                </div><!--//blog-list-->  
            </div><!--//row-->
            {% comment %}
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul><!--//pagination-->
            </div><!--//pagination-container-->
            {% endcomment %}
        </div><!--//blog-->        
    </div><!--//wrapper-->
    
    <!-- ******FOOTER****** --> 
    {% include footer.html %}
    <!--//footer-->
    
    <!-- Javascript -->          
    <script type="text/javascript" src="/assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script> 
            
    <!-- blog page specific js starts --> 
    <script type="text/javascript" src="/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>     
    <script type="text/javascript" src="/assets/plugins/masonry.pkgd.min.js"></script> 
    <script type="text/javascript" src="/assets/js/blog.js"></script>
    <!-- blog page specific js ends -->   
     
    <script type="text/javascript" src="/assets/js/main.js"></script>
    
    {% include ga.html %}    
</body>
</html> 

