---
layout: raw
title: Aristotle Cloud Hosting for Australian government
og:
    image:
        url: /aristotle/assets/home/aristotle-cloud-hosting-illustration-md.png
        width: 128px
        height: 128px

---


<div class="hero-wrapper">
    {% include curve.html top="lighter green cover" bottom="gray" %}
    
    <section class="case-study-header page-header py-4 py-md-5 over-curve">
        <div class="container text-center">    
            <div class="single-col-max mx-auto">    
                
                <h1 class="page-headline mb-3">Protect your metadata using Australian servers and local support.</h1>
                <div class="case-logo-holder mb-2"><img src="" alt=""></div>
                <div class="page-headline-sub mb-5">
                    As enterprise data solutions move to the cloud, you need a software-as-a-service solution that understands
                    the need for Australian data sovereignty. 
                </div>
                <div class="case-banner rounded shadow">
                    <img class="img-fluid rounded" src="/aristotle/images/blog/facs-aristotle-banner.jpg" alt="">
                    <div class="mask"></div>
                    <div class="video-play-trigger video-play-icon-holder shadow-sm align-self-center" data-toggle="modal" data-target="#modal-video" ><div class="icon dripicons-media-play pl-1"></div></div>
                </div><!--//case-banner-->
            </div><!--//single-col-max-->
        </div>
    </section><!--//case-study-header-->
</div><!--//hero-wrapper-->     


<section class="page-content py-5">
    <div class="container">
        <div class="single-col-max mx-auto">
            
            <div class="case-study-content">
                <div class="case-quote py-5 text-center">
                    <blockquote class="quote mb-3">
                        <div class="quote-icon-holder"><img src="/assets/images/quote-icon.svg" alt=""></div>
                        <p>
                            Aristotle has provided an excellent metadata and data governance tool set
                            to the department to enable us to better understand our data holdings.
                        </p>
                    </blockquote><!--//quote-->

                    <div class="source">    
                        <div class="profile mb-3"><img class="profile-image img-fluid" src="/aristotle/assets/clients/melanie-talyor.jfif" alt=""></div>
                        <div class="name font-weight-bold">
                            <a href="https://www.linkedin.com/in/melanie-taylor-a5862715/">Melanie Taylor</a>
                        </div>
                        <div class="meta">NSW Department of Communities and Justice</div>
                        <a href="/case-studies/nsw-government">
                            Learn more &rarr;
                            </a>

                    </div><!--//source-->
                </div><!--//case-quote-->
                
                <h3 class="text-center py-5">The top 5 reasons Australian government agencies trust the Aristotle Metadata Registry</h3>
                
                <div class="case-list px-3 px-lg-0">
                    <div class="item mb-5">
                        <div class="row">
                            <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                <div class="case-list-number">01</div>
                                <div class="case-list-heading">Authority to operate</div>
                            </div><!--//case-list-header-->
                            <div class="case-list-desc col-12 col-lg-8">
                                <p>
                                    Aristotle Secure Cloud for the Aristotle Metadata Registry has given the "Authority to Operate" by
                                    Federal Australia government agencies and has been approved to hold content classified as PROTECTED under the 
                                    <a href="https://www.cyber.gov.au/acsc/view-all-content/ism">Information Security Manual (ISM)</a>.
                                </p>
                                <p>
                                    Our Australian support team has experience documenting all of our services to comply with the
                                    Information Security Manual (ISM), and we can provide ISM Security Annex documentation on demand to
                                    give your ICT areas the confidence in the security and stability of Aristotle Cloud Hosting.
                                </p>
                            </div><!--//case-list-desc-->
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item mb-5">
                        <div class="row">
                            <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                <div class="case-list-number">02</div>
                                <div class="case-list-heading">Guaranteed Australian data soverignty</div>
                            </div><!--//case-list-header-->
                            <div class="case-list-desc col-12 col-lg-8">
                                <p>All tiers of Aristotle Cloud Hosting - Standard, Secure & Protected - are available in our Australian server environment.
                                </p>
                                <p>
                                    Our Australian server environment is securely hosted in the
                                    <a href="https://aws.amazon.com/about-aws/global-infrastructure/regions_az/">Amazon Web Services Sydney region</a>, across multiple physical
                                    data centres with separate redundant power and networking to ensure that our services maintain greater than 99.9% uptime.
                                    This allows us to host all components of the Aristotle Metadata Registry in Australia - including search, data & file storage,
                                    backups and web application servers.
                                </p>                                    
                                <p>
                                    Regardless of your requirements, by choosing Aristotle Metadata you can have confidence that your data is hosted in Australia,
                                    meets Australian government security requirements, and is maintained by a local team of AWS cloud hosting experts.
                                </p>
                            </div><!--//case-list-desc-->
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item mb-5">
                        <div class="row">
                            <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                <div class="case-list-number">03</div>
                                <div class="case-list-heading">MOG-proof metadata registry</div>
                            </div><!--//case-list-header-->
                            <div class="case-list-desc col-12 col-lg-8">
                                <p>Australian government agencies need systems that can quickly adjust to the "Machinery of Government" - aka. the dreaded MOG.
                                </p>
                                <p>
                                    Through flexible pricing models and multi-tenancy built-in, the Aristotle Metadata Registry is
                                    a MOG-proof metadata solution that meets the complex needs of the Australian government departments.
                                </p>
                                <p>
                                    The Aristotle Metadata Registry can be configured so that multiple related departments and agencies can securely share the same platform, 
                                    while simultaneously maintaining their own user access permissions, governance rules and publication workflows.
                                    This means that your infrastructure is future-proof, and lowers the disruption to your data infrastructure during
                                    Machinery of Government changes.
                                </p>
                            </div><!--//case-list-desc-->
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item mb-5">
                        <div class="row">
                            <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                <div class="case-list-number">04</div>
                                <div class="case-list-heading">Federated metadata to support a federated government</div>
                            </div><!--//case-list-header-->
                            <div class="case-list-desc col-12 col-lg-8">
                                <p>The Australian government landscape requires negotaion between separate government agencies across sectors and
                                    across the levels of government - local, state and federal.
                                    The Aristotle Metadata Registry facilitates a smooth exchange of data and information between government agencies by
                                    recognising and harnessing a federated model of data to support a federated government landscape.
                                </p>
                                <p>
                                    Our metadata federation APIs allow published metadata to move seemlessly between registries, to ensure all parties understand
                                    the meaning of data as it passes between departments.
                                </p>
                                <p>
                                    The Aristotle Metadata Registry also helps you engage all stakeholders in your data, by allowing you to securely invite users from
                                    separate agencies to participate in your registry. By adding <em>external collaborators</em> to your registry, you can control 
                                    which external users have access to content, allow them to full engage in the development of data standards, and keep all the decisions
                                    about your data in a single, central location.
                                </p>
                            </div><!--//case-list-desc-->
                        </div><!--//row-->
                    </div><!--//item-->
                    <div class="item mb-5">
                        <div class="row">
                            <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                <div class="case-list-number">05</div>
                                <div class="case-list-heading">Standard-based solutions to drive collaboration & understanding</div>
                            </div><!--//case-list-header-->
                            <div class="case-list-desc col-12 col-lg-8">
                                <p>Rely on nationally and internationally recognised data standards to improve the interpretation of your data.
                                </p>
                                <p>
                                    We use known international standards, such as the
                                    <a href="https://en.wikipedia.org/wiki/ISO/IEC_11179">ISO-11179 standard for metadata registries</a>,
                                    <a href="https://www.w3.org/TR/vocab-dcat-2/">DCAT2 standard for data catalogues</a>
                                    and associated health informatics and geospatial standards 
                                    to build understanding and capability across government. By implementing known standards, users develop a generic
                                    skill set that reduces the risk of vendor lock-in and increases the flexibility of your data infrastructure.
                                </p>
                                <p>
                                    By relying on user-approved standards like ISO-11179, users have transferable knowledge that can be 
                                    utilised across your organisation. Which means your team can begin working and collaborating faster
                                    and you can get more out out of your data.
                                </p>
                            </div><!--//case-list-desc-->
                        </div><!--//row-->
                    </div><!--//item-->

                </div><!--//case-list-->
            </div><!--//case-study-content-->
        </div><!--//single-col-max-->
    </div><!--//container-->
</section><!--//page-content-->

{% comment %}
<section class="related-section position-relative theme-bg-light py-5">
    <div class="curve-container">
        <div class="curve-top"></div>
        <div class="curve-bottom"></div>
    </div><!--//curve-container-->
    <div class="container">
        <h2 class="section-title text-center mb-5">More Success Stories</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="item shadow rounded bg-white">
                    <div class="figure-holder rounded-top d-flex justify-content-center pt-4">
                        
                        <img class="case-logo align-self-center img-fluid" src="/assets/images/logos/company-logo-1.svg" alt="">
                    </div><!--//figure-holder-->
                    <div class="content-holder p-4">
                        <div class="summary mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis odio id dui tristique ultrices nec sed augue.
                        </div><!--//summary-->
                        <div><a class="more-link" href="#">View Story <span class="link-arrow">&rarr;</span></a></div>
                    </div><!--//content-holder-->
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="item shadow rounded bg-white">
                    <div class="figure-holder rounded-top d-flex justify-content-center pt-4">
                        
                        <img class="case-logo align-self-center img-fluid" src="/assets/images/logos/company-logo-2.svg" alt="">
                    </div><!--//figure-holder-->
                    <div class="content-holder p-4">
                        <div class="summary mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis odio id dui tristique ultrices nec sed augue.
                        </div><!--//summary-->
                        <div><a class="more-link" href="#">View Story <span class="link-arrow">&rarr;</span></a></div>
                    </div><!--//content-holder-->
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="item shadow rounded bg-white">
                    <div class="figure-holder rounded-top d-flex justify-content-center pt-4">
                        
                        <img class="case-logo align-self-center img-fluid" src="/assets/images/logos/company-logo-4.svg" alt="">
                    </div><!--//figure-holder-->
                    <div class="content-holder p-4">
                        <div class="summary mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis odio id dui tristique ultrices nec sed augue.
                        </div><!--//summary-->
                        <div><a class="more-link" href="#">View Story <span class="link-arrow">&rarr;</span></a></div>
                    </div><!--//content-holder-->
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="item shadow rounded bg-white">
                    <div class="figure-holder rounded-top d-flex justify-content-center pt-4">
                        
                        <img class="case-logo align-self-center img-fluid" src="/assets/images/logos/company-logo-5.svg" alt="">
                    </div><!--//figure-holder-->
                    <div class="content-holder p-4">
                        <div class="summary mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis odio id dui tristique ultrices nec sed augue.
                        </div><!--//summary-->
                        <div><a class="more-link" href="#">View Story <span class="link-arrow">&rarr;</span></a></div>
                    </div><!--//content-holder-->
                </div><!--//item-->
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//related-section-->
{% endcomment %}


{% include cta_bold.html call="Trust the metadata registry trusted by the Australian government"
sub_call="Contact us to find out how we can revolutionise your data strategy and reduce the cost of managing your information."
action="Contact us for a demo" url="/contact/demo"  %}

{% include video_modal.html url="https://www.youtube.com/embed/d04_sgM97R8" %}
