---
layout: raw
title: Aristotle Cloud Hosting
footer_scripts: >
    <script src="/assets/js/pricing.js"></script> 
og:
    image:
        url: /aristotle/assets/home/aristotle-cloud-hosting-illustration-md.png
        width: 128px
        height: 128px

---

    <div class="hero-wrapper">
        <section class="pricing-header page-header over-curve py-3 py-md-5">
            <div class="container text-center">    
                <div class="single-col-max mx-auto">       
                    <h1 class="page-headline mb-3">Reduce the cost of securing your metadata</h1>
                    <div class="page-tagline mb-3">
                        Our secure and protected cloud hosting is
                        trusted by government and enterprise to provide metadata services that are
                        stable, secure and scalable to meet the highly sensitive requirements of modern IT departments.
                    </div>
                </div><!--//single-col-max-->
                
                {% comment %}
                <a class="news-banner shadow mb-5" href="#" >
                    <span class="badge badge-success badge-new mr-2 mb-2 mb-md-0">NEW</span>
                    <br class="d-block d-lg-none">
                    <span class="news-text mr-2">Announce news using this widget lorem ipsum dolor sit amet.</span>
                    <span class="link-arrow"><i class="fas fa-chevron-right"></i></span>
                </a><!--//news-banner-->
                {% endcomment %}
                
                {% include pricing/cloud/price-matrix.html %}
            </div><!--//container-->
        </section><!--//pricing-header-->
        {% include pricing/fineprint.html %}
    </div><!--//hero-wrapper-->

    <section class="customers-section py-5">
        <div class="container py-5">
            <h2 class="section-title text-center mb-3">You Are In Good Company</h2>
            <div class="section-intro text-center mb-5 single-col-max mx-auto">
                Government and Enterprises globally trust the security of their content to the Aristotle Metadata Registry.
                With our Secure and Protected cloud options, your data is never safer.
            </div>
            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-5">
                    <div class="item shadow rounded p-4">
                        <div class="logo-holder mb-2">
                            <img style="height:100px; width:auto;" src="/aristotle/assets/logos/potential-x-logo.jfif" alt="">
                        </div><!--//logo-holder-->
                        <div class="summary mb-3">
                            Our business relies on quality data to ensure we produce high quality,
                            robust analytics, and insights that make a difference to the care and service
                            our clients deliver.
                            
                            Having a partner and platform like Aristotle Metadata Registry ensures
                            we can build new products and services with confidence that our approach
                            to data management is best in class.
                        </div><!--//summary-->
                        <div class="mb-4"><a class="more-link" href="/blog/2020/11/potential-x-signs-multi-year-agreement-use-aristotle-cloud-metadata-registry">View Customer Story <span class="link-arrow">&rarr;</span></a></div>
                        <div class="source text-lg-right">
                            <div>Duane Attree</div>
                            <div>Chief Executive Officer, Potential<sup>(x)</sup></div>
                        </div>
                        
                    </div><!--//item-->
                </div><!--//col-12-->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="item shadow rounded p-4">
                        <div class="logo-holder mb-2">
                            <img style="height:100px; width:auto;" src="/aristotle/assets/logos/NSWGov_Waratah_Primary_400x293.jpg" alt="">
                        </div><!--//logo-holder-->
                        <div class="summary mb-3">
                            Aristotle has provided an excellent metadata and data governance tool set
                            to the department to enable us to better understand our data holdings.
                        </div><!--//summary-->
                        <div class="mb-4"><a class="more-link" href="/case-studies/nsw-government">View Customer Story <span class="link-arrow">&rarr;</span></a></div>
                        <div class="source text-lg-right">
                            <div>Melanie Taylor</div>
                            <div>Advisor, NSW Department of Communities and Justice</div>
                        </div>
                        
                    </div><!--//item-->
                </div><!--//col-12-->
            </div><!--//row-->    
            <div class="text-center"><a href="/case-studies/" class="btn-gradient btn">More Customer Stories</a></div>
        </div><!--//container-->
    </section><!--//customers-section-->
    
    <section class="faq-section py-5 theme-bg-light position-relative">
        <div class="curve-container">
            <div class="curve-top"></div>
            <div class="curve-bottom"></div>
        </div><!--//curve-container-->
        <div class="container py-5  over-curve">
            <h2 class="section-title text-center mb-5">Frequently Asked Questions</h2>

            {% include pricing/cloud/faq.html %}

        </div><!--//container-->
    </section><!--//faq-section-->

    {% include cta_bold.html call="Want to learn more about how Aristotle Metadata can make your metadata more accessible <u>and</u> more secure?"
    sub_call=page.cta.sub_call action=page.cta.action url="/contact/demo" %}
