---
layout: raw
title: Case studies

cta:
    call: Tell your metadata success story
    text_body: |
        Aristotle Metadata understands how metadata makes organisations smarter, faster and more effective.
        
        Let us help unlock the value of your metadata so you can become the next Aristotle Metadata success story.            

    action: Contact us for a demo

logos:
    - hero_image: /assets/images/cases/case-3.jpg
      id: nsw-gov-au
      title: New South Wales Government
      logo: /aristotle/assets/logos/NSWGov_Waratah_Primary_400x293.jpg
      url: /case-studies/nsw-government
      link_text: Read the case study
      lead: |
            The New South Wales Government
            integrated the Aristotle Metadata Registry into departmental Insights, Analytics and Research Units
            to improve evidence-based decision making 
            to achieve the best outcomes for children, families and vulnerable communities.

    - hero_image: /assets/images/cases/case-1.jpg
      id: potentialx
      title: Potential <sup>(x)</sup>
      logo: /aristotle/assets/logos/potential-x-logo.jfif
      url: /blog/2020/11/potential-x-signs-multi-year-agreement-use-aristotle-cloud-metadata-registry.html
      link_text: Read the launch announcement
      lead: |
            Potential <sup>(x)</sup> is using data to reduce hospital waiting times and improve health outcomes in the private sector.

            By implementing an Aristotle Metadata Registry to manage hospital performance indicators,
            Potential <sup>(x)</sup> is providing richer, faster reports to their clients within the Health Roundtable.
  
    - hero_image: /assets/images/cases/case-2.jpg
      id: services-australia
      title: Services Australia & the Department of Social Services
      logo: /aristotle/assets/logos/services-australia.jfif
      hide: true
      lead: |
            We moved a whole bunch of stuff.<br><br>

    - hero_image: /assets/images/cases/case-2.jpg
      id: covid-dashboard
      title: Aristotle Metadata COVID-19 Dashboard
      logo: /aristotle/aristotle_logo_256.png
      link_text: See more at the Aristotle Metadata Labs
      url: https://labs.aristotlemetadata.com/#/covid/graph
      lead: |
            To demonstrate the value of metadata in data visualisation we developed a metadata-enabled
            COVID Dashboard. Our dashboard pulls together authoritative metadata from the World Health Organisation
            and the European Center for Disease Control to show the lineage of how data transformed before publication.
            
---

<div class="hero-wrapper">
    {% include curve.html top="lighter green" bottom="green-to-blue" %}

    <section class="customers-header page-header over-curve py-4 py-md-5">
        <div class="container text-center">	
            <div class="single-col-max mx-auto">	   
                <h1 class="page-headline mb-3">Customer Success Stories</h1>
                <div class="page-tagline mb-4">Discover why top companies choose the Aristotle Metadata Registry.</div>
                <div class="cta-btn mb-lg-3">
                    <a class="btn btn-gradient mb-3" href="/contact/demo" >Contact us for a demo</a>
                </div> 
                <div class="logos logos-grey row justify-content-center text-center mt-4">
                    <!-- <div class="col-6 col-md-4 col-lg-3 mb-3">
                        <img class="company-logo" src="/assets/images/logos/company-logo-1.svg" alt="">
                    </div> -->
                </div>
                <!--//logos -->
            </div><!--//single-col-max-->
        </div>
    </section><!--//customers-header-->

    {% include logo-list.html logos=page.logos %}
</div>

{% include cta_bold.html call=page.cta.call
    sub_call=page.cta.sub_call text_body=page.cta.text_body
    action=page.cta.action url="/contact/demo"  %}
