---
layout: raw
title: Aristotle Metadata Registry Pricing options
footer_scripts: >
    <script src="/assets/js/pricing.js"></script> 



---
    {% include registry/pricing-matrix.html plans=site.plans.registry %}

    {% include registry/faq.html %}

    
    {% include cta_bold.html call="Let us manage your metadata registry so you can get working faster"
        sub_call="Your Aristotle Metadata Registry subscription already includes stable, scalable & secure cloud hosting."
        action="Show me hosting options" url="/products/aristotle-cloud-hosting" %}


    {% include boilerplate/more_than_a_registry.html %}


