---
layout: raw
title: Supporting DAMA Data Governance activities with the Aristotle Metadata Registry

og:
    description: |
        Learn about how the Aristotle Metadata Registry improves your data governance maturity by helping you
        follow best practice guidelines across all activities on the DAMA Data Governance Wheel!
    image:
        url: /aristotle/assets/use-cases/aristotle-metadata-dama-wheel.png
        width: 512px
        height: 270px

---

    <div class="hero-wrapper">
        {% include curve.html top="lighter green cover" bottom="gray" %}

        <section class="case-study-header page-header py-4 py-md-5 over-curve">
            <div class="container text-center">
                <div class="single-col-max mx-auto">

                    <h1 class="page-headline mb-3">Data Governance</h1>
                    <div class="page-headline-sub mb-5">
                        Use the DAMA Data Governance Wheel to understand how the Aristotle Metadata Registry supports data management
                        across your organisation.
                    </div>
                    <div class="case-banner rounded shadow">
                    </div><!--//case-banner-->
                </div><!--//single-col-max-->
            </div>
        </section><!--//case-study-header-->
    </div><!--//hero-wrapper-->


    <section class="page-content py-5">
        <div class="container">
            <div class="single-col-max mx-auto">
                <div class="case-study-content">
                    <p class="mb-3">
                        The DAMA Data Governance Wheel provides a high-level overview of the tasks necessary for organisational data governance. The Aristotle Metadata Registry is a modern, centralised, user-friendly system for the management and governance of metadata, including reference data, data asset lists and conceptual business data.
                    </p>
                    <p class="mb-3">
                        Read on to learn how the Aristotle Metadata Registry helps organisations manage their data governance or enables organisational process to ensure quality data management.
                    </p>
                    <img class="img-fluid rounded py-5" src="/aristotle/assets/use-cases/aristotle-metadata-dama-wheel.png" alt="" usemap="#image-map">
                    <p>
                        The Aristotle Metadata Registry can seemlessly support your existing data management and data governance tools.
                        Rather than provide comprehensive coverage of all aspsects of data, the Aristotle Metadata Registry excels at key
                        data governance tasks - including metadata management and data quality.
                    </p>
                    <p>
                        Use this guide to learn how the Aristotle Metadata Registry can integrate with
                        your processes to achieve your data governance success.
                    </p>
                    <div class="container pb-5">
                        <div class="row mb-3">
                            <strong class="col-sm-3 col-md-3">Core feature <i class="fas fa-star"></i> :</strong>
                            <div class="col-sm-9 col-md-9">
                                Look for the star <i class="fas fa-star"></i> to see areas where the Aristotle Metadata Registry excels at
                                improving your organisations data governance capabilites.
                            </div>
                        </div>
                        <div class="row mb-3">
                            <strong class="col-sm-3 col-md-3">Management:</strong>
                            <div class="col-sm-9 col-md-9">
                                This is a task where the Aristotle Metadata Registry provides core functionality that helps organisations manage this aspect data governance in a modern, centralised way.
                            </div>
                        </div>
                        <div class="row mb-3">
                            <strong class="col-sm-3 col-md-3">Enabler:</strong>
                            <div class="col-sm-9 col-md-9">
                                These are functions where the Aristotle Metadata Registry assists other processes or systems that are responsible for this aspect of data governance.
                            </div>
                        </div>
                    </div>

                    <h3 class="text-center py-1">Aristotle Metadata assists with all aspects of data governance.</h3>
                    <div class="case-list px-3 px-lg-0">
                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Metadata</div>
                                    <div class="case-list-heading">Management</div>
                                    <div class="case-list-heading"><i class="fas fa-star"></i></div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry is centralised platform for the creation and maintenance of technical, business, operation and executive metadata and data definitions. It enables users to collaboratively manage data governance through a central location where users can search for data definitions.
                                    </p>
                                    <p>
                                        The Aristotle Metadata Registry includes standard data roles to segment data stewardship from endorsement and includes configurable Role-Based Access Control (RBAC) permission controls that allow users to collaborate with their team privately and securely when developing metadata. This is supported by a robust and tested publication system, to allow the right users to access the right information.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->
                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Quality</div>
                                    <div class="case-list-heading">Management <br> Enabler</div>
                                    <div class="case-list-heading"><i class="fas fa-star"></i></div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry improves data quality by ensuring that all aspects of data quality, including technical and business metadata, can be recorded. A centralised platform for data definitions ensures users can easily track and understand data quality through a single web portal.
                                    </p>
                                    <p>
                                        Aristotle Metadata Registry includes the ability to record Data Quality Statements along the 6 dimensions of data quality that conforms to known governments standards, including the Australian Bureau of Statistics Data Quality Framework.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Architecture</div>
                                    <div class="case-list-heading">Enabler</div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry allows data architects to record standards-based data asset records and data designs in a central location. This allows all users to access data architecture designs, independent of where and how data is stored. The separation allows data architects to work collaboratively with business areas to ensure business and technical definitions align.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Modelling & Design</div>
                                    <div class="case-list-heading">Enabler</div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry supports data modelling by providing a single location for technical and business data definitions to be stored. These definitions can then be used to assist data modellers when producing high-level data models.
                                    </p>
                                    <p>
                                        The Aristotle Metadata Registry supports industry recognised data modelling tools by providing a repository of endorsed data definitions accessible via authenticated APIs. Where data modelling tools provide a high-level overview of the linkage across data domains, these can then link back to the governance and approvals recorded in the Aristotle Metadata Registry to give a complete vision of the organisational data landscape.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Security</div>
                                    <div class="case-list-heading">Enabler</div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        Aristotle Metadata Registry enables stronger data security by keeping comprehensive data asset records separate to sensitive data. By storing data asset records in an Aristotle Metadata Registry, users can know the structure of data prior to access, and requests for data can be checked against asset metadata to ensure sensitive data is not released.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Integration & Interoperability</div>
                                    <div class="case-list-heading">Enabler</div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        By using a central Aristotle Metadata Registry for data definitions, users can link and reference known data standards when recording their data assets. Rather than relying on heuristics and machine learning, a central registry gives all users certainty in the accuracy and quality of data and gives users a clearer understanding of how data can be linked and compared.
                                    </p>
                                    <p>
                                        The Aristotle Metadata Registry also includes well-documented APIs that allow for integration of metadata with other data platforms. The Aristotle Metadata APIs allows users to create and update metadata, perform complex metadata queries, and control the endorsement of metadata using a modern, secure permissions systems.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Reference & Master Data</div>
                                    <div class="case-list-heading">Management</div>
                                    <div class="case-list-heading"><i class="fas fa-star"></i></div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry includes the ability to manage reference and master data lists, including flat and complex hierarchical classifications. The Aristotle Metadata Registry provides a central location for the management of core business concepts, terminologies, and classifications as well as correspondences, equivalences, and relations between similar business terms.
                                    </p>
                                    <p>
                                        The Aristotle Metadata Registry provides a complete audit trail of changes to reference data so administrators can determine when, where and how business terms have changed, as well as seeing the impact across the data landscape prior to changes being applied to master data lists.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->

                        <div class="item mb-5">
                            <div class="row">
                                <div class="case-list-header col-12 col-lg-4 px-4 mb-3">
                                    <div class="case-list-number">Data Warehousing </div>
                                    <div class="case-list-heading">Management <br> Enabler</div>
                                </div><!--//case-list-header-->
                                <div class="case-list-desc col-12 col-lg-8">
                                    <p>
                                        The Aristotle Metadata Registry supports good data warehousing practice by making it easier for people to record what data is available, including information about where it is stored, what business definitions are stored within the data and how to retrieve it.
                                    </p>
                                    <p>
                                        By capturing data asset registers in the Aristotle Metadata Registry, organisations can build and maintain comprehensive interactive lists of key data assets without the need for data relocation.
                                    </p>
                                </div><!--//case-list-desc-->
                            </div><!--//row-->
                        </div><!--//item-->
                    </div><!--//case-list-->
                </div><!--//case-study-content-->
            </div><!--//single-col-max-->
        </div><!--//container-->
    </section><!--//page-content-->

{% include cta_bold.html call="This could be the beginning of your data success story"
sub_call="Contact us to find out how we can revolutionise your data strategy and reduce the cost of managing your information."
action="Contact us for a demo" url="/contact/demo"  %}
