---
layout: raw
title: Products

cta:
    call: Schedule a demo to see how Aristotle Metadata products can reduce the cost of your data governance
    text_body: ""

---
<div class="hero-wrapper">
    {% include curve.html top="cover lighter green" bottom="cover gray" %}
 
    <section class="product-header page-header over-curve py-3 py-md-5">
        <div class="container text-center">	
            <div class="single-col-max mx-auto">	   
                <h1 class="page-headline mb-3">Metadata solutions, for teams in all shapes and sizes</h1>
                <div class="page-tagline mb-4">
                    From small agile data teams to those responsible for inter-organisational
                    data governance - 
                    <br>Aristotle Metadata has a product that meets your needs.
                </div>
            </div><!--//single-col-max-->
        </div>
    </section><!--//product-header-->
</div><!--//hero-wrapper-->

<section class="benefits-section py-5">
    <div class="container">
        <div class="item py-5">
            <div class="row">
                <div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
                    <div class="title-note mb-1">Software</div>
                    <h4 class="title mb-3"><a href="/products/aristotle-metadata-registry">Aristotle Metadata Registry</a></h4>
                    <div class="desc">
                        <p>Our flagship enterprise metadata managament platform.</p>
                        <p>Browser-based. User-friendly. Standards-compliant.</p>
                        <p>
                            Double your data productivity with the Aristotle Metadata Registry
                            by reducing duplication, streamlining workflows and improving data discovery.
    
                            Improve your organisational data capabilities from a central, built-for-purpose metadata platform that 
                            meets all requirements for modern metadata management and governance.
                        </p>
                    </div><!--//desc--> 
                    <ul class="column-list list-unstyled pt-4">
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Metadata management</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Collaboration</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Search and browse</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Data lineage</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Classifications</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Performance Indicators</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Data governance</li>
                        <li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> API & Integrations</li>
                    </ul><!--//item-list-->
                    <div><a class="more-link" href="./aristotle-metadata-registry">Find out more <span class="link-arrow">&rarr;</span></a></div>
                </div><!--//item-content-->
                <div class="item-figure col-12 col-lg-5 pt-5 col-xl-6">
                    <img class="img-fluid shadow rounded" src="/aristotle/assets/home/aristotle-metadata-registry-illustration.png" alt="">   
                </div><!--//item-figure-->
            </div><!--//row-->
        </div><!--//item-->
        <div class="item py-5">
            <div class="row">
                <div class="item-content col-12 col-lg-7 col-xl-6 order-lg-1 pl-lg-5">
                    <div class="title-note mb-1">Hosting</div>
                    <h4 class="title mb-3"><a href="/products/aristotle-cloud-hosting">Aristotle Cloud Hosting</a></h4>

                    <div class="desc mb-3">
                        Our secure, scalable and stable cloud-hosted platform.<br>

                        <p>Built on Amazon Web Services for maximum reliability, scalability and security in the cloud.
                        </p>
                        <p>Available globally and designed to comply with data sovereignty requirements,
                            this is the easiest way to deploy your own Aristotle Metadata Registry.
                        </p>
                    </div><!--//desc--> 
                    
                    <div class="data-list">
                        <div class="data-list-item media mb-4">
                            <div class="data-overview mr-md-4 text-center">
                                <div class="number">99.9%</div>
                                <div class="note">Uptime guarantee</div>
                            </div><!--//data-overview-->
                            <div class="data-desc media-body">
                                High-availability design means you never have to worry about up-time... ever.
                                Our enterprise-grade Service Level Agreement (SLA) gives you the confidence
                                that your metadata will be available whenever you need it.
                            </div>
                        </div><!--//data-list-item-->

                        <div class="data-list-item media mb-4">
                            <div class="data-overview mr-md-4 text-center">
                                <div class="number">1 day</div>
                                <div class="note">Deploy time</div>
                            </div><!--//data-overview-->
                            <div class="data-desc media-body">
                                We can deploy your Registry within hours, not weeks - so you see a
                                return on your metadata investment faster.
                                New features are available regularly and included in your subscription, so 
                                you continue to get maximum value from your Registry.
                            </div>
                        </div><!--//data-list-item-->
                        
                    </div><!--//data-list-->
                    <div><a class="more-link" href="/products/aristotle-cloud-hosting">Find out more <span class="link-arrow">&rarr;</span></a></div>
                </div><!--//item-content-->
                <div class="item-figure col-12 col-lg-5 col-xl-6 pt-5 order-lg-0">
                    <img class="img-fluid shadow rounded" src="/aristotle/assets/home/aristotle-cloud-hosting-illustration.png" alt="">   
                </div><!--//item-figure-->
            </div><!--//row-->
        </div><!--//item-->
        <div class="item py-5">
            <div class="row">
                <div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
                    <div class="title-note mb-1">Software-as-a-Service</div>
                    <h4 class="title mb-3">
                        <a href="https://aristotle.cloud">Aristotle.Cloud (beta)
                        </a>
                    </h4>
                    <div class="desc">
                        Our traditional SaaS-based, openly available metadata registry.
                        <br>
                        <p>For users who need cutting-edge metadata management software,
                        but don't require their own registry.
                        </p>
                        Sign-up today and begin your metadata governance journey.
                    </div><!--//desc--> 
                    <ul class="list-unstyled pt-4">
                        <li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Sign up instantly</li>
                        <li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Collaborate with your team</li>
                        <li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Create private metadata & teams</li>
                    </ul><!--//item-list-->
                    <div class="pt-3"><a class="more-link" href="https://aristotle.cloud">Find out more <span class="link-arrow">&rarr;</span></a></div>
                </div><!--//item-content-->
                <div class="item-figure col-12 col-lg-5 col-xl-6 pt-5">
                    <img class="img-fluid shadow rounded" src="/aristotle/assets/home/aristotle-metadata-registry.png" alt="">   
                </div><!--//item-figure-->
            </div><!--//row-->
        </div><!--//item-->

        {% comment %}
        <div class="item py-5">
            <div class="row">
                <div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
                    <div class="title-note mb-1">Software</div>
                    <h4 class="title mb-3">Aristotle Metadata Registry: Enterprise Edition <small>(Coming soon)</small></h4>
                    <div class="desc">
                        Our enterprise metadata managament platform - your servers.<br>
                        <br>
                        All of the power of the Aristotle Metadata Registry,
                        packaged for on-site deployment.<br>
                    </div><!--//desc--> 
                    <ul class="list-unstyled pt-4">
                        <li><span class="icon far fa-2x fa-fw fa-container-storage mr-2"></span> Containerised for modern IT environments</li>
                        <li><span class="icon fab fa-2x fa-fw fa-discourse mr-2"></span> Community support</li>
                        <li><span class="icon fab fa-2x fa-fw fa-github mr-2"></span> Published via GitHub</li>
                    </ul><!--//item-list-->
                    <div><a class="more-link" href="#">Coming soon</a></div>
                </div><!--//item-content-->
                <div class="item-figure col-12 col-lg-5 pt-5 col-xl-6">
                    <img class="img-fluid shadow rounded" src="/assets/images/product/product-1.png" alt="">   
                </div><!--//item-figure-->
            </div><!--//row-->
        </div><!--//item-->

        <div class="item py-5">
            <div class="row">
                <div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
                    <div class="title-note mb-1">Software</div>
                    <h4 class="title mb-3">Aristotle Metadata Registry: Community Edition <small>(Coming soon)</small></h4>
                    <div class="desc">
                        Open data & open standards, powered by open-source.<br>
                        <br>
                        The Aristotle Metadata Registry: Community Edition provides access the 
                        core features of the Aristotle Metadata Registry in a self-hosted, open-source package.
                        Access current and past versions through source control and install using standard
                        containerised technology.
                    </div><!--//desc--> 
                    <ul class="list-unstyled pt-4">
                        <li><span class="icon fab fa-2x fa-fw fa-docker mr-2"></span> Deployable using Docker</li>
                        <li><span class="icon fab fa-2x fa-fw fa-discourse mr-2"></span> Community support</li>
                        <li><span class="icon fab fa-2x fa-fw fa-github mr-2"></span> Published via GitHub</li>
                    </ul><!--//item-list-->

                    <div><a class="more-link" href="#">Coming soon</a></div>
                </div><!--//item-content-->
                <div class="item-figure col-12 col-lg-5 pt-5 col-xl-6">
                    <img class="img-fluid shadow rounded" src="/assets/images/product/product-1.png" alt="">   
                </div><!--//item-figure-->
            </div><!--//row-->
        </div><!--//item-->
        {% endcomment %}

    </div><!--//container-->
</section><!--//benefits-section-->

{% include boilerplate/more_than_a_registry.html %}

{% capture cta_body %}
<div class="single-col-max mx-auto">
    <div class="contact-form-box shadow rounded p-5 mb-5">
        <form id="contact-form" class="contact-form" method="post" action="https://getsimpleform.com/messages?form_api_token=8912b0e723f1761a207116e5a4fea5f6">
            <div class="form-row">                                                           
                <div class="form-group col-12 col-xl-6">
                    <label class="sr-only" for="cname">Name</label>
                    <input type="text" class="form-control" id="cname" name="name" placeholder="Name" minlength="2" required="" >
                </div>                    
                <div class="form-group col-12 col-xl-6">
                    <label class="sr-only" for="cemail">Email</label>
                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" >
                </div>
                
                <div class="form-group col-12">
                    <label class="sr-only" for="cmessage">Your message</label>
                    <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="6" required=""></textarea>
                </div>
                <div class="form-group col-8 mx-auto">
                    <button type="submit" class="btn btn-block btn-gradient py-2">Submit</button>
                </div>                           
            </div><!--//form-row-->
            <input type='hidden' name='redirect_to' value='http://www.aristotlemetadata.com/contact/thanks.html' />
        </form><!--//contact-form-->
    </div><!--//contact-form-box-->
</div><!--//single-col-max-->
{% endcapture %}

{% include cta_bold.html call=page.cta.call
    sub_call=page.cta.text_body body=cta_body
    %}
